.status-bar.card {
  background-color: var(--seven-tech-color-info);
  &.info {
    background-color: var(--seven-tech-color-info);
  }
  &.caution {
    background-color: var(--seven-tech-color-caution);
  }
  &.error {
    background-color: var(--seven-tech-color-error);
  }
  &.success {
    background-color: var(--seven-tech-color-success);
  }
  span {
    color: var(--seven-tech-color-primary);

    h4 {
      padding: 0.5em;
    }
  }
}

.modal-overlay.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    margin: 0.5rem;
  }

  .status {
    width: fit-content;
    height: fit-content;
    padding: 2rem;
  }

  .close {
    display: flex;
    justify-content: end;

    button {
      border-radius: 1rem;
    }
  }
}

.modal-overlay.hide {
  position: static;
  display: block;
  background-color: transparent;

  .status {
    padding: 0;
  }

  .close {
    display: none;
  }
}
